
  <div class="concept">

    <div class="concept_title"><img src="/assets/concept.png" alt=""></div>
    <div class="concept_text">
      FOOD MATCHは、フードロスを目的としたサイトです。<br>
      コロナ禍による影響で余ってしまった食材を使って、<br>
      様々な料理を皆様にご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </div>
  </div>